{% extends "layout.html" %}

{% block title %}Configuration{% endblock %}

{% block block_contenu %}

<form action="/config" method="POST">
   <div class="form-group">
      <label for="vert_fov">Vertical FOV (deg)</label>
      <input type="number" class="form-control" name="vert_fov" id="vert_fov" placeholder={{ vert_fov }}>
   </div>
   <div class="form-group">
      <label for="horz_fov">Horizontal FOV (deg)</label>
      <input type="number" class="form-control" name="horz_fov" id="horz_fov" placeholder={{ horz_fov }}>
   </div>
   <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}

