{% extends "layout.html" %}

{% block title %}Configuration{% end %}

{% block block_contenu %}

<form action="/gui/config" method="POST">
   <div class="form-group">
      <label for="vert_fov">Vertical FOV (deg)</label>
      <input type="number" class="form-control" name="vert_fov" id="vert_fov" value={{ vert_fov }}>
   </div>
   <div class="form-group">
      <label for="horz_fov">Horizontal FOV (deg)</label>
      <input type="number" class="form-control" name="horz_fov" id="horz_fov" value={{ horz_fov }}>
   </div>
   <button type="submit" class="btn btn-primary">Save</button>
</form>

{% end %}

