{% extends "layout.html" %}

{% block title %}Panorama{% end %}

{% block block_contenu %}

<label for="pano_mode">Choose panorama mode</label>
<select class="form-control" name="pano_mode" id="pano_mode">
 {% for pm in pano_modes %}
 <option>{{ pm }}</option>
 {% end %}
</select>

<label for="pano_interval">Time between 2 photos (s)</label>
<input type="number" class="form-control" name="pano_interval" id="pano_interval" value={{ pano_interval }}>

<button id="launch_btn" class="btn btn-primary">Launch</button>

 <div class="progress">
  <div id="pano_progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
</div>

{% end %}

{% block block_scripts %}

<script type="text/javascript">

$('#launch_btn').on('click', function (e) {
    pm = $("#pano_mode").val();
    pi = $("#pano_interval").val();
    $.ajax({
        headers:{
           "Accept":"application/json",
           "Content-type":"application/x-www-form-urlencoded"
        }, url:"/state?action=panorama&pano_mode=" + pm + "&pano_interval=" + pi + "&cmd=start",
        success:function(response){
          // var r = JSON.parse(response);
          // $("#main").html(r.base);
        }
      });
})

setInterval(function(){
    $.ajax({ url: "/state?action=panorama", success: function(data){
        $("#pano_progress")
          .css("width", data.avct + "%")
          .attr("aria-valuenow", data.avct)
          .text(data.avct + "%");
    }, dataType: "json"});
}, 500);


</script>

{% end %}