{% extends "layout.html" %}

{% block title %}Panorama{% end %}

{% block block_contenu %}

<form action="/gui/panorama" method="POST">
   <div class="form-group">
      <label for="pano_mode">Choose panorama mode</label>
      <select class="form-control" name="pano_mode" id="pano_mode">
         {% for pm in pano_modes %}
         <option>{{ pm }}</option>
         {% end %}
      </select>
   </div>
   <div class="form-group">
      <label for="pano_interval">Time between 2 photos (s)</label>
      <input type="number" class="form-control" name="pano_interval" id="pano_interval" placeholder={{ pano_interval }}>
   </div>
   <button type="submit" class="btn btn-primary">Launch</button>
</form>

 <div class="progress">
  <div id="pano_progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
  aria-valuenow="{{test}}" aria-valuemin="0" aria-valuemax="100" style="width:{{test}}%"></div>
</div>

{% end %}

{% block block_scripts %}

<script type="text/javascript">

<!--
var wSocket = new WebSocket("ws://ydethe.pythonanywhere.com/ws");
wSocket.onmessage = function (event) {
    var msg = JSON.parse(event.data);
    $("#pano_progress")
     .css("width", msg.progress + "%")
     .attr("aria-valuenow", msg.progress)
     .text(data.progress + "%");
}
-->

</script>

{% end %}